:root {
    --primary: #ec5e69;
    --less: #ccc;
    --title: #fff;
    --text: #eee;
    --root-2: #e0e0e2;
    --root: #131c29;
    --root-1: #1c2130;
    --root-2: #25283b;
}

body {
    margin:0;
    width:100%;
    background-color: var(--root);
}

::selection, ::-webkit-selection { background-color:rgba(236,94,105,.75); }

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

html { scroll-behavior: smooth; }

h1,h2,h3,h4,h5,h6,div,span { cursor:default; }

::-webkit-scrollbar {
    width:7px;
    height: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color:var(--primary);
    border-radius: 4px;
}

section {
    width:700px;
    margin:35px auto 40px auto;
    padding:15px 5%;
    background-color:var(--root-1);
    border-radius: 10px;
    box-shadow:0 10px 25px rgba(0,0,0,.375);
}

section > h2 {
    color:var(--text);
    font-size: 28px;
    margin:10px 0;
}

section > * > a,
section > a,
section > * > * > a,
section > * > * > * > a {
    padding: 3px 5px;
    font-size:inherit;
    color:var(--primary);
    background-color:transparent;
    border-radius: 3px;
    transition: color .2s ease-out, background-color .2s ease-out;
}

section > * > a:hover, section > * > a:active, section > * > a:focus,
section > a:hover, section > a:active, section > a:focus, 
section > * > * > a:hover, section > * > * > a:active, section > * > * > a:focus,
section > * > * > * > a:hover, section > * > * > * > a:active, section > * > * > * > a:focus {
    background-color:var(--primary);
    color:var(--text);
}

ul {
    list-style: none;
}

ul li::before {
    color:var(--less);
    content: "\2022"; 
    font-size: 1em; 
    padding-right: 1.1225em; 
    position: relative;
    top: 0em;
}

ul li {
    color:var(--less);
    font-size: 18px;
}

ul > ul {
    margin: 5px 0 15px 0;
}

span.type {
    color: var(--primary);
    opacity:.825;
}

span.deprecated {
    color:var(--text);
    font-size: 18px;
    background-color:var(--primary);
    border-radius: 3px;
    padding:3px 5px;
}

#banner {
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-image: radial-gradient(circle, var(--primary), var(--primary) 2px, transparent 2px, transparent);
    background-size: 36px;
    animation: moving-dot 3s linear 0s infinite;
    background-repeat: repeat-x;
    background-position: 0 center;
}

@keyframes moving-dot {
    to { background-position: 36px center; }
}

#banner-title {
    font-weight: 300;
    text-size-adjust: 100%;
    line-height: 1.2;
    font-size: 5rem;
    color:var(--primary);
    margin:0 0 30px 0;
    cursor:pointer;
}

#banner-detail {
    font-size: 16px;
    color:var(--less);
}

section > h1 { 
    font-size: 3rem;
    color:var(--title);
    border-bottom: 1px solid var(--less);
    padding: 15px; 
    margin-top:0;
    margin-bottom:15px;
}

section > h2 { 
    font-size: 1.75rem;
    padding: 8px; 
}

section > p { 
    font-size: 1.15rem; 
    color:var(--text); 
    line-height: 1.625;
}

section > br { 
    line-height: 3; 
}

section > blockquote { 
    font-size: 1.5rem;
    padding: 30px;
    color:var(--primary); 
    margin:0; 
}

.code-snippet {
    appearance: none;
    -webkit-appearance: none;
    border:0;
    resize:none;
    background-color: var(--root-2);
    color:var(--text);
    font-family: Consolas, monospace , Roboto, Helvatic Neue;
    width:100%;
    padding:15px 20px;
    margin-bottom:40px;
    display:block;
    font-size: 1.15rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    white-space: pre-line;
    word-break: break-word;
    overflow:hidden;
}

.code-snippet-container {
    display:block;
    margin:25px 0;
    box-shadow:0 8px 15px rgba(0,0,0,.25);
}

.code-heading {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--root-2);
    color:var(--less);
    border:0;
    font-size: 12px;
    padding: 6px 10px;
    cursor: pointer;
    outline:none;
    margin:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.code-heading-type {
    display:flex;
    flex-direction: row;
}

.code-heading-button-left.active, .code-heading-button-right.active {
    background-color:var(--root-2);
}

.text-primary { color:var(--primary); }
.text-less { color:var(--less); }

.code-text {
    background-color: var(--root-1);
    padding: 3px 8px;
    color:var(--text);
    font-size: inherit;
    border-radius: 3px;
}

.code-link {
    background-color: var(--root-1);
    padding: 3px 8px;
    color:var(--primary);
    font-size: inherit;
    border-radius: 3px;
}

@media screen and (max-width: 767.9px){
    section {
        width:90% !important;
        margin:50px 5%;
        padding-left:2.5% !important;
        padding-right: 2.5% !important;
    }
    #banner-title {
        font-size: 4.25rem;
    }
}